version: '3'
 
services:
 
    php:
        build: 
            context: ./
            dockerfile: Dockerfile
        volumes:
            - ./www:/srv/www/api
            - ./docker/php/www.conf:/usr/local/etc/php-fpm.d/www.conf
        ports:
            - 9000:9000
            - 3000:3000
        environment:
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            XDEBUG_CONFIG: 
                client_host=host.docker.internal 
                client_port=9001
    nginx:
        image: nginx:1.13.8
        ports:
            - 8000:80
            - 8001:81
            - 8002:82
        volumes:
            - ./www:/srv/www/api
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
 
    mysql:
        image: mysql
        volumes:
            - ./data/db:/var/lib/mysql
        ports:
            - 3306:3306
        depends_on:
            - php
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}